@import 'setup';
@import 'variables';
@import 'mixins';

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 2rem;
	line-height: 1.3em;
	color: black;
	// background-color: $primary;
	font-family: $text;
	overflow-x: hidden;
}

img {
	width: 100%;
}

header,
main {
	background-color: white;
}

h1,
h2,
h3,
h4,
h5,
.logo {
	font-family: $heading;
	font-weight: 500;
	font-style: normal;
	line-height: 1em;
	color: black;
}

p:not(:last-of-type) {
	margin-bottom: 20px;
}

.subtitle + p {
	margin-top: 1em;
}

strong {
	font-weight: 500;
}

a {
	color: $primary;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

.wrapper {
	width: 90%;
	max-width: 1140px;
	margin: 0 auto;
}

.btn,
button {
	background-color: $secondary;
	display: inline-block;
	color: $primary;
	border: 1px solid $primary;
	font-size: 1.6rem;
	line-height: 1.6rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 1.8rem 1.5em 1.5rem;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.2s ease-in, color 0.2s ease-in;
	align-self: flex-start;

	&:not(:first-of-type) {
		margin-left: 20px;
	}

	&:hover,
	&:focus {
		background-color: $primary;
		color: $secondary;
		text-decoration: none;
	}

	&:active {
		position: relative;
		top: 2px;
	}

	@include mobile {
		padding: 1.5rem 1.3em 1.3rem;
	}
}

.btn2 {
	background-color: unset;
	color: $primary;

	&:hover,
	&:focus {
		background-color: $secondary;
		color: $primary;
	}
}

.btn-closer {
	margin-bottom: 10px;

	&:not(:first-of-type) {
		margin-left: 10px;
	}
}

header {
	// z-index: -99;
	// position: sticky;
	// top: 0;

	.top-bar {
		height: 60px;
		display: flex;
		align-items: flex-end;
		margin-bottom: 10px;

		@include mobile {
			height: 50px;
		}
	}

	.logo {
		font-size: 3rem;
		font-family: cy, sans-serif;
		color: $primary;
	}

	.content {
		padding: 18vh 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include mobile {
			padding: $spacing 0;
		}

		.buttons {
			display: flex;
			justify-content: center;
		}

		h1 {
			font-size: 4rem;
			margin-bottom: 15px;
			text-align: center;
		}

		h2 {
			font-size: 3rem;
			margin: -5px 0 30px;
			text-align: center;
		}

		h5 {
			font-family: $text;
			font-size: 3rem;
			font-weight: 400;
			margin-bottom: 20px;
			border-bottom: 2px solid $primary;

			.lnr-hand {
				animation: wave 0.5s ease-in-out;
				animation-delay: 0.4s;
				display: inline-block;
				transform: rotate(-25deg);
				transform-origin: bottom center;
				margin-right: -5px;
				margin-left: 5px;
				color: $primary;
			}

			.lnr-hand:hover {
				animation: wave 0.5s ease-in-out, wave2 0.5s ease-in-out;
				color: $secondary;
			}

			@keyframes wave {
				0% {
					transform: rotate(-25deg);
				}
				25% {
					transform: rotate(0);
				}
				50% {
					transform: rotate(-25deg);
				}
				75% {
					transform: rotate(0);
				}
				100% {
					transform: rotate(-25deg);
				}
			}

			@keyframes wave2 {
				0% {
					transform: rotate(-25deg);
				}
				25% {
					transform: rotate(0);
				}
				50% {
					transform: rotate(-25deg);
				}
				75% {
					transform: rotate(0);
				}
				100% {
					transform: rotate(-25deg);
				}
			}
		}
		// end of h5 and animation
	}
	// end of content
}
// end of header

main {
	/* make sure to cover the screen */
	min-height: 100vh;

	/* need a solid bg to hide the footer */
	background: white;

	/* put on top */
	position: relative;
	z-index: 1;

	section {
		border-top: 1px solid $primary;
		.wrapper {
			display: flex;
			flex-wrap: wrap;

			@include mobile {
				flex-direction: column;
				flex-wrap: nowrap;
			}

			h4,
			li,
			p {
				a {
					text-decoration: underline;
				}
			}

			.left,
			.right {
				flex-basis: 50%;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			.left {
				padding: $spacing 50px $spacing 0;

				@include mobile {
					padding: $spacing-mobile 0;
				}
			}

			.right {
				padding: $spacing 0 $spacing 50px;

				@include mobile {
					padding: $spacing-mobile 0;
				}
			}
		}
		// end of wrapper
	}
	// end of section

	.subtitle {
		font-family: $text;
		font-weight: 500;
		text-transform: uppercase;
		text-align: left;
		color: $primary;
		font-size: 2rem;
		letter-spacing: 1px;

		&::after {
			content: '';
			display: block;
			border-bottom: 2px solid $secondary;
			width: 30px;
			padding-top: 15px;
		}
	}

	.title {
		font-size: 3rem;
		margin: 1em 0 0.8em;
		text-align: left;
	}

	.divider {
		@include mobile {
			content: '';
			display: block;
			border-bottom: 2px solid $primary;
			width: 30px;
			margin: 0 0 $spacing-mobile;
		}
	}

	.about {
		background: linear-gradient(-90deg, $light 65%, $primary 35%);

		@include mobile {
			background: linear-gradient(-360deg, $light 75%, $primary 25%);
		}

		.wrapper {
			display: flex;

			.left {
				flex-basis: 45%;
				padding-right: 0;
				background: linear-gradient(-90deg, $light 45%, $primary 40%);
				position: relative;
				justify-content: flex-start;

				@include mobile {
					background: unset;
				}

				.name {
					margin-top: 5px;
					color: white;
					position: absolute;
					top: $spacing;
					left: 0;
					margin-left: 30px;
					transform: rotate(90deg);
					transform-origin: 0 0;
					white-space: nowrap;

					@include mobile {
						font-size: 1.6rem;
						top: $spacing-mobile;
					}
				}

				img {
					max-width: calc(100% - 50px);
					margin-left: 50px;

					@include mobile {
						max-width: calc(100% - 40px);
						margin-left: 40px;
					}
				}
			}

			.right {
				padding-left: 50px;
				flex-basis: 55%;

				@include tablet {
					padding-left: 40px;
				}

				@include mobile {
					padding: 0 0 $spacing-mobile;
				}
			}
		}
	}

	.skills {
		// position: sticky;
		// top: 0;
		// z-index: -99;
		text-align: center;
		padding: $spacing 0 6rem;
		background-color: $secondary;

		// max-height: 100vh;
		// max-height: 100dvh; /* iOS dynamic viewport height */
		// overflow-y: auto;

		@include mobile {
			padding: $spacing-mobile 0 2.5rem;
		}

		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			@include mobile {
				flex-direction: row;
			}

			h2 {
				flex-basis: 100%;
				text-align: center;
				margin: 0 0 2em;
				&::after {
					margin: 0 auto;
					border-color: $light;
				}
			}

			.skill {
				padding: 1em 1em 0.8em;
				margin-bottom: 20px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				transition: transform 0.3s ease-out;
				&:hover,
				&focus {
					transform: scale(1.1);
				}

				svg,
				img {
					height: 50px;
					fill: $primary;
					filter: invert(33%) sepia(34%) saturate(7424%) hue-rotate(229deg) brightness(72%)
						contrast(111%);
				}

				h4 {
					font-family: $text;
					font-size: 1.3rem;
					letter-spacing: 1px;
					text-transform: uppercase;
					margin-top: 20px;
					color: $primary;
				}

				@include mobile {
					margin: 0 10px 20px;
				}
			}

			.skill:not(:last-of-type) {
				margin-right: 20px;

				@include mobile {
					margin: 0 10px 20px;
				}
			}
		}
		// end of wrapper
	}
	// end of skills

	.marquee {
		background-color: $secondary;
		position: relative;
		display: flex;
		align-items: center;
		overflow: hidden;
		user-select: none;
		padding: 6px 0 0;
		border-bottom: 1px solid $primary;
		// border-top: 1px solid $primary;
		margin-bottom: -1px;

		.marquee__content {
			--gap: 1rem;
			margin-top: -10px;
			font-size: 5rem;
			line-height: 5rem;
			color: $primary;
			flex-shrink: 0;
			display: flex;
			justify-content: space-around;

			@include mobile {
				margin-top: -7px;
				font-size: 3.4rem;
				line-height: 3.4rem;
			}

			li {
				text-transform: uppercase;
				white-space: nowrap;

				// arrow right
				&::before {
					content: '\2192';
					margin-right: var(--gap);
					margin-left: -1rem;
					vertical-align: 20%;
				}

				// arrow left
				&::after {
					content: '\2190';
					margin-left: var(--gap);
					margin-right: -1rem;
					vertical-align: 20%;
					transform: rotateY(180deg);
				}
			}

			@include keyframes(cssmarquee) {
				from {
					transform: translateX(0);
				}
				to {
					transform: translateX(-100%);
				}
			}

			@include animate(cssmarquee, 60s, linear, infinite);
		}
	}
	// end of marquee

	.portfolio {
		.title {
			margin-bottom: 0.5em;
		}

		// img {
		// 	filter: grayscale(100%);
		// 	transition: filter 0.3s ease-in-out;
		// 	&:hover {
		// 		filter: none;
		// 	}
		// 	@include mobile {
		// 		filter: none;
		// 	}
		// }

		.buttons {
			margin-top: 16px;
		}

		.project:nth-of-type(even) {
			background: linear-gradient(90deg, $light 65%, $primary 35%);

			@include mobile {
				background: linear-gradient(360deg, $light 75%, $primary 25%);
			}

			.wrapper {
				.right {
					flex-basis: 45%;
					padding-left: 0;
					background: linear-gradient(90deg, $light 50%, $primary 50%);
					@include mobile {
						order: -1;
						background: none;
					}
				}

				.left {
					flex-basis: 55%;
					@include mobile {
						padding-top: 0;
					}
				}
			}
		}

		.project:not(:last-child) {
			border-bottom: 1px solid $primary;
		}

		.project:nth-of-type(odd) {
			background: linear-gradient(-90deg, white 65%, $primary 35%);

			@include mobile {
				background: linear-gradient(-360deg, white 75%, $primary 25%);
			}

			.wrapper {
				.left {
					flex-basis: 45%;
					padding-right: 0;
					background: linear-gradient(-90deg, white 50%, $primary 50%);
					@include mobile {
						background: none;
					}
				}

				.right {
					background-color: white;
					flex-basis: 55%;
					@include mobile {
						padding-top: 0;
					}
				}
			}
		}
	}
	// end of portfolio

	.education {
		padding: $spacing 0;
		background-color: $primary;

		@include mobile {
			padding: $spacing-mobile 0;
		}

		.wrapper {
			flex-direction: column;

			.title {
				font-size: 2.5rem;
				margin-bottom: 0.4em;
			}

			.subtitle {
				color: $secondary;
			}
			.subtitle::after {
				border-color: $light;
			}

			.title,
			p {
				color: $secondary;
			}

			p,
			li {
				color: $light;
				margin-bottom: 0;
			}
		}
	}
	// end of education

	.experience {
		background-color: $light;

		.wrapper {
			.subtitle::after {
				border-color: $secondary;
			}

			.columns {
				display: flex;
				gap: $spacing;

				@include tablet {
					gap: $spacing-mobile;
				}

				@include mobile {
					flex-direction: column;
					gap: 0;
				}

				div {
					flex: 1 1 0px;

					h4 {
						color: $primary;
						margin-top: 5px;
						margin-bottom: 15px;
					}

					h4 + p {
						margin-top: 20px;
					}
				}
			}

			.subtitle {
				color: $primary;
			}

			.title,
			p,
			li {
				color: black;
			}

			ul {
				margin-top: 10px;

				li:not(:last-child) {
					margin-bottom: 10px;
				}

				li::before {
					content: '\2192';
					margin-right: 10px;
					vertical-align: 10%;
				}
			}
		}
	}

	.contact {
		padding: $spacing 0 0;
		background-color: $light;

		@include mobile {
			padding: $spacing-mobile 0;
		}

		.wrapper {
			.subtitle {
				flex-basis: 100%;
				text-align: center;

				@include mobile {
					text-align: unset;
				}
			}

			.subtitle::after {
				margin: 0 auto;
				@include mobile {
					margin: 0;
				}
			}

			h3 {
				flex-basis: 100%;
				margin: 1em 0 5px;
				text-align: center;
				@include mobile {
					text-align: unset;
				}
			}

			.btn {
				@include mobile {
					margin: 0;
					// align-self: unset;
				}
			}

			.left {
				flex-basis: 45%;
				justify-content: flex-start;

				@include mobile {
					padding: 2rem 0 $spacing-mobile 0;
					// align-items: center;
				}

				ul {
					display: flex;
					margin: 20px 0 18px;

					svg,
					img {
						width: 25px;
						margin-right: 15px;
						fill: $secondary;
						filter: invert(77%) sepia(31%) saturate(612%) hue-rotate(99deg) brightness(101%)
							contrast(92%);

						&:hover,
						&:focus {
							fill: $primary;
							filter: invert(33%) sepia(34%) saturate(7424%) hue-rotate(229deg) brightness(72%)
								contrast(111%);
						}
					}
				}
			}

			.right {
				flex-basis: 55%;

				@include mobile {
					padding: 0;
				}
			}

			form {
				display: flex;
				flex-direction: column;

				input,
				textarea {
					font-family: $text;
					padding: 16px;
					margin-bottom: 10px;
					background-color: $secondary;
					border: 1px solid $primary;
					color: $primary;

					&::placeholder {
						color: $primary;
						opacity: 0.3;
					}

					&:focus {
						background-color: $primary;
						color: $light;
					}
				}

				textarea {
					height: 200px;
				}

				button {
					font-family: $text;
					align-self: flex-end;
					margin: 0;
				}
			}
			// end of form
		}
		// end of wrapper
	}
	// end of contact
}
// end of main

footer {
	color: white;
	background-color: $primary;
	font-size: 1.4rem;
	line-height: 1em;
	text-align: center;
	padding: 20px 20px 17px;
}

.before-and-after {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 60px;
	margin-bottom: 100px;
	border: none;

	h2 {
		font-family: $text;
		font-size: 2.8rem;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.05rem;
	}

	div {
		width: 100%;

		.slider-container {
			position: relative;
			width: 1140px;
			height: 597px;
			margin-top: 20px;
			border: 1px solid #efefef;

			@include wrapper {
				width: 710px;
				height: 374px;
			}
			@include tablet {
				width: 350px;
				height: 184px;
			}

			.img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-size: 1140px 100%;

				@include wrapper {
					background-size: 710px 100%;
				}
				@include tablet {
					background-size: 350px 100%;
				}
			}
			.foreground-img {
				width: 50%;
			}
			.slider {
				position: absolute;
				-webkit-appearance: none;
				appearance: none;
				width: 100%;
				height: 100%;
				background: none;
				outline: none;
				margin: 0;
				transition: all 0.2s;
				@include center;
				&::-webkit-slider-thumb {
					-webkit-appearance: none;
					appearance: none;
					width: 6px;
					height: 595px;
					background: $primary;
					cursor: grabbing;

					@include wrapper {
						height: 372px;
					}
					@include tablet {
						height: 182px;
					}
				}
				&::-moz-range-thumb {
					-webkit-appearance: none;
					appearance: none;
					outline: none;
					border-radius: 0;
					border: none;
					width: 6px;
					height: 595px;
					background: $primary;
					cursor: grabbing;

					@include wrapper {
						height: 372px;
					}
					@include tablet {
						height: 182px;
					}
				}
			}
			.slider-button {
				cursor: grabbing;
				$size: 30px;
				pointer-events: none;
				position: absolute;
				width: $size;
				height: $size;
				border-radius: 50%;
				background-color: $primary;
				left: calc(50% - 15px);
				top: calc(50% - 18px);
				@include center;

				@mixin arrow-helper() {
					content: '';
					padding: 3px;
					display: inline-block;
					border: solid white;
					border-width: 0 2px 2px 0;
				}
				&:after {
					@include arrow-helper();
					transform: rotate(-45deg);
				}
				&:before {
					@include arrow-helper();
					transform: rotate(135deg);
				}
			}
		}
	}
}
