@import 'setup';
@import 'variables';
@import 'mixins';


// GENERAL STYLING


html {
  font-size: 62.5%;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

body {
  background: $ice-blue;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

body.lock-scrollbar {
  overflow: hidden;
}

.meta,
p {
  line-height: 2.4rem;
  letter-spacing: 1px;
  @include mobileMQ {
    line-height: 1.4em;
  }
}

a {
  text-decoration: none;
  color: $dark-blue;
}

.btn,
h1,
h2,
h3 {
  font-family: 'IM Fell English', serif;
  font-style: italic;
  text-transform: uppercase;
}

h2 {
  font-size: 3.8rem;
  line-height: 3.8rem;
  color: $dark-blue;
  @include tabletMQ {
    font-size: 3.2rem;
  }
}

h3 {
  font-size: 4rem;
  line-height: 4rem;
  letter-spacing: 1.3px;
  color: $ice-blue;
  @include tabletMQ {
    font-size: 3.5rem;
  }
}

h2,
h3 {
  @include mobileMQ{
    font-size: 3rem;
    line-height: 1em;
  }
}

.btn {
  font-size: 2.24rem;
  line-height: 41.6px;
  text-align: center;
  background-color: $dandelion;
  padding: 4px 10px 3px;
  margin: 25px 0 20px;
  border: 5px solid transparent;
  transition: background-color 0.4s ease;
  @include tabletMQ {
    font-size: 2rem;
  }
}

.btn:hover,
.btn:focus {
  border: solid 5px $dandelion;
  color: white;
  background-color: transparent;
}

.btn2:hover,
.btn2:focus {
  color: $dark-blue;
}

.skip-link { position: absolute; left: -1000px; top: 5px; z-index: 999; background: white; color: black; }
 
.skip-link:focus { left: 5px; margin-top: 0; padding: 3px 20px 0; background-color: $dark-blue; }

// HEADER STYLING

header {

  nav {

    width: 100%;

    #menu {
      margin-left: -15px;
    }

    #mobile-menu,
    #menu-toggle:not(.is-active) {
      display: none;
    }

    @include mobileMQ {

      #menu {
        display: none;
      }

      #menu-toggle:not(.is-active),
      #menu-toggle.is-active {
        display: block;
      }
      
    }

    #menu-toggle {
      z-index: 30;
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: transparent;
      border: none;
      color: white;
      text-shadow: 2px 2px 4px black;
    }
  
    #menu-toggle:hover,
    #menu-toggle:focus {
      color: $dandelion;
    }
  
    #menu-toggle:before {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 3rem;
    }
    
    #menu-toggle:before {
        content: "\f0c9";
    }
    
    #menu-toggle.is-active:before {
      content: "\f00d";
    }

    #mobile-menu {

      position: fixed;
      overflow-y: auto;
      top: 0;
      right: -100vw;
      padding: 8em 4em;
      width: 100vw;
      height: 100vh;
      background-color: $dark-blue;
      transition: all 0.3s ease-out;
      z-index: 10;

      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;

      li {

        position: relative;
        top: -30px;
        opacity: 0;
  
        a {
          font-size: 4rem;
          color: white;
          display: block;
          text-align: center;
          padding: 20px 0 10px;
          margin-bottom: 15px;
        }

      }

    }

    #mobile-menu.is-active {

      right: 0;
      z-index: 20;

      li {
        animation: 0.5s move ease-in-out forwards;
      }
  
      @keyframes move {
        0% {
          top: 0;
          opacity: 0;
        }
        100% {
          top: -30px;
          opacity: 1;
        }
      }

    }

    a {
      font-weight: bold;
      font-size: 2rem;
      line-height: 2.9rem;
      letter-spacing: 1px;
      color: white;
      padding: 10px 0 3px;
      margin: 0 20px;
      border-bottom: 2px solid transparent;
      transition: border 0.3s ease;
    }

    a:hover,
    a:focus {
      border-bottom: 2px solid $dandelion;
    }

  }
  // end of nav

  .header-content {

    height: 70vh;
    justify-content: space-between;

    @include laptopMQ {
      height: 50vh;
    }

    @include tabletMQ {
      height: 60vh;
    }

    @include tabletpMQ {
      height: 30vh;
    }

  }

  .header-image {

    width: 55%;
    max-width: 900px;
    margin: 6% 0 -15%;

    @include laptopMQ {
      max-width: 650px;
    }
    
    @include tabletMQ {
      width: 53%;
    }

  }

}
// end of header

// FOOTER

footer {

  background-color: $dandelion;
  color: $dark-blue;
  text-align: center;
  padding: 10px 20px;

  p {
    line-height: 1em;
    font-size: 1.5rem;
  }

}

// IMPORTING PARTIALS

@import 'index';
@import 'post';
@import 'contact';