@charset "UTF-8";
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  line-height: 1.3em;
  color: black;
  font-family: forma-djr-micro, sans-serif;
  overflow-x: hidden;
}

img {
  width: 100%;
}

header,
main {
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
.logo {
  font-family: new-spirit, serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1em;
  color: black;
}

p:not(:last-of-type) {
  margin-bottom: 20px;
}

.subtitle + p {
  margin-top: 1em;
}

strong {
  font-weight: 500;
}

a {
  color: #2E39BF;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}

.wrapper {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
}

.btn,
button {
  background-color: #66ECAF;
  display: inline-block;
  color: #2E39BF;
  border: 1px solid #2E39BF;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.8rem 1.5em 1.5rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.btn:not(:first-of-type),
button:not(:first-of-type) {
  margin-left: 20px;
}
.btn:hover, .btn:focus,
button:hover,
button:focus {
  background-color: #2E39BF;
  color: #66ECAF;
  text-decoration: none;
}
.btn:active,
button:active {
  position: relative;
  top: 2px;
}
@media (max-width: 710px) {
  .btn,
  button {
    padding: 1.5rem 1.3em 1.3rem;
  }
}

.btn2 {
  background-color: unset;
  color: #2E39BF;
}
.btn2:hover, .btn2:focus {
  background-color: #66ECAF;
  color: #2E39BF;
}

.btn-closer {
  margin-bottom: 10px;
}
.btn-closer:not(:first-of-type) {
  margin-left: 10px;
}

header {
  z-index: -99;
  position: sticky;
  top: 0;
}
header .top-bar {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 10px;
}
@media (max-width: 710px) {
  header .top-bar {
    height: 50px;
  }
}
header .logo {
  font-size: 3rem;
  font-family: cy, sans-serif;
  color: #2E39BF;
}
header .content {
  padding: 18vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 710px) {
  header .content {
    padding: 8rem 0;
  }
}
header .content .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .content h1 {
  font-size: 4rem;
  margin-bottom: 15px;
  text-align: center;
}
header .content h2 {
  font-size: 2.4rem;
  margin: -5px 0 30px;
  text-align: center;
}
header .content h5 {
  font-family: forma-djr-micro, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 20px;
  border-bottom: 2px solid #2E39BF;
}
header .content h5 .lnr-hand {
  -webkit-animation: wave 0.5s ease-in-out;
          animation: wave 0.5s ease-in-out;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  display: inline-block;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  margin-right: -5px;
  margin-left: 5px;
  color: #2E39BF;
}
header .content h5 .lnr-hand:hover {
  -webkit-animation: wave 0.5s ease-in-out, wave2 0.5s ease-in-out;
          animation: wave 0.5s ease-in-out, wave2 0.5s ease-in-out;
  color: #66ECAF;
}
@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  25% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  75% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
}
@keyframes wave {
  0% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  25% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  75% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
}
@-webkit-keyframes wave2 {
  0% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  25% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  75% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
}
@keyframes wave2 {
  0% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  25% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  75% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
}

main {
  /* make sure to cover the screen */
  min-height: 100vh;
  /* need a solid bg to hide the footer */
  background: white;
  /* put on top */
  position: relative;
  z-index: 1;
}
main section {
  border-top: 1px solid #2E39BF;
}
main section .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 710px) {
  main section .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
main section .wrapper .left,
main section .wrapper .right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main section .wrapper .left {
  padding: 8rem 50px 8rem 0;
}
@media (max-width: 710px) {
  main section .wrapper .left {
    padding: 5rem 0;
  }
}
main section .wrapper .right {
  padding: 8rem 0 8rem 50px;
}
@media (max-width: 710px) {
  main section .wrapper .right {
    padding: 5rem 0;
  }
}
main .subtitle {
  font-family: forma-djr-micro, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  color: #2E39BF;
  font-size: 2rem;
  letter-spacing: 1px;
}
main .subtitle::after {
  content: "";
  display: block;
  border-bottom: 2px solid #66ECAF;
  width: 30px;
  padding-top: 15px;
}
main .title {
  font-size: 3rem;
  margin: 1em 0 0.8em;
  text-align: left;
}
@media (max-width: 710px) {
  main .divider {
    content: "";
    display: block;
    border-bottom: 2px solid #2E39BF;
    width: 30px;
    margin: 0 0 5rem;
  }
}
main .about {
  background: -webkit-gradient(linear, right top, left top, color-stop(65%, #F2F2F2), color-stop(35%, #2E39BF));
  background: linear-gradient(-90deg, #F2F2F2 65%, #2E39BF 35%);
}
@media (max-width: 710px) {
  main .about {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(70%, #F2F2F2), color-stop(30%, #2E39BF));
    background: linear-gradient(-360deg, #F2F2F2 70%, #2E39BF 30%);
  }
}
main .about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .about .wrapper .left {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding-right: 0;
  background: -webkit-gradient(linear, right top, left top, color-stop(45%, #F2F2F2), color-stop(40%, #2E39BF));
  background: linear-gradient(-90deg, #F2F2F2 45%, #2E39BF 40%);
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (max-width: 710px) {
  main .about .wrapper .left {
    background: unset;
  }
}
main .about .wrapper .left .name {
  margin-top: 5px;
  color: white;
  position: absolute;
  top: 8rem;
  left: 0;
  margin-left: 30px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  white-space: nowrap;
}
@media (max-width: 710px) {
  main .about .wrapper .left .name {
    font-size: 1.6rem;
    top: 5rem;
  }
}
main .about .wrapper .left img {
  max-width: calc(100% - 50px);
  margin-left: 50px;
}
@media (max-width: 710px) {
  main .about .wrapper .left img {
    max-width: calc(100% - 40px);
    margin-left: 40px;
  }
}
main .about .wrapper .right {
  padding-left: 50px;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}
@media (max-width: 820px) {
  main .about .wrapper .right {
    padding-left: 40px;
  }
}
@media (max-width: 710px) {
  main .about .wrapper .right {
    padding: 0 0 5rem;
  }
}
main .skills {
  position: sticky;
  top: 0;
  z-index: -99;
  text-align: center;
  padding: 8rem 0 6rem;
  background-color: #66ECAF;
  max-height: 100vh;
  max-height: 100dvh; /* iOS dynamic viewport height */
  overflow-y: auto;
}
@media (max-width: 710px) {
  main .skills {
    padding: 5rem 0 2.5rem;
  }
}
main .skills .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 710px) {
  main .skills .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
main .skills .wrapper h2 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  margin: 0 0 2em;
}
main .skills .wrapper h2::after {
  margin: 0 auto;
  border-color: #F2F2F2;
}
main .skills .wrapper .skill {
  padding: 1em 1em 0.8em;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
main .skills .wrapper .skill:hover, main .skills .wrapper .skillfocus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
main .skills .wrapper .skill svg {
  height: 50px;
  fill: #2E39BF;
}
main .skills .wrapper .skill h4 {
  font-family: forma-djr-micro, sans-serif;
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 20px;
  color: #2E39BF;
}
@media (max-width: 710px) {
  main .skills .wrapper .skill {
    margin: 0 10px 20px;
  }
}
main .skills .wrapper .skill:not(:last-of-type) {
  margin-right: 20px;
}
@media (max-width: 710px) {
  main .skills .wrapper .skill:not(:last-of-type) {
    margin: 0 10px 20px;
  }
}
main .marquee {
  background-color: #66ECAF;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 6px 0 0;
  border-bottom: 1px solid #2E39BF;
  margin-bottom: -1px;
}
main .marquee .marquee__content {
  --gap: 1rem;
  margin-top: -10px;
  font-size: 5rem;
  line-height: 5rem;
  color: #2E39BF;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-animation: cssmarquee 60s linear infinite;
          animation: cssmarquee 60s linear infinite;
}
@media (max-width: 710px) {
  main .marquee .marquee__content {
    margin-top: -7px;
    font-size: 3.4rem;
    line-height: 3.4rem;
  }
}
main .marquee .marquee__content li {
  text-transform: uppercase;
  white-space: nowrap;
}
main .marquee .marquee__content li::before {
  content: "→";
  margin-right: var(--gap);
  margin-left: -1rem;
  vertical-align: 20%;
}
main .marquee .marquee__content li::after {
  content: "←";
  margin-left: var(--gap);
  margin-right: -1rem;
  vertical-align: 20%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
@-webkit-keyframes cssmarquee {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes cssmarquee {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
main .portfolio .title {
  margin-bottom: 0.5em;
}
main .portfolio .buttons {
  margin-top: 16px;
}
main .portfolio .project:nth-of-type(even) {
  background: -webkit-gradient(linear, left top, right top, color-stop(65%, #F2F2F2), color-stop(35%, #2E39BF));
  background: linear-gradient(90deg, #F2F2F2 65%, #2E39BF 35%);
}
@media (max-width: 710px) {
  main .portfolio .project:nth-of-type(even) {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(75%, #F2F2F2), color-stop(25%, #2E39BF));
    background: linear-gradient(360deg, #F2F2F2 75%, #2E39BF 25%);
  }
}
main .portfolio .project:nth-of-type(even) .wrapper .right {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding-left: 0;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #F2F2F2), color-stop(50%, #2E39BF));
  background: linear-gradient(90deg, #F2F2F2 50%, #2E39BF 50%);
}
@media (max-width: 710px) {
  main .portfolio .project:nth-of-type(even) .wrapper .right {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    background: none;
  }
}
main .portfolio .project:nth-of-type(even) .wrapper .left {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}
@media (max-width: 710px) {
  main .portfolio .project:nth-of-type(even) .wrapper .left {
    padding-top: 0;
  }
}
main .portfolio .project:not(:last-child) {
  border-bottom: 1px solid #2E39BF;
}
main .portfolio .project:nth-of-type(odd) {
  background: -webkit-gradient(linear, right top, left top, color-stop(65%, white), color-stop(35%, #2E39BF));
  background: linear-gradient(-90deg, white 65%, #2E39BF 35%);
}
@media (max-width: 710px) {
  main .portfolio .project:nth-of-type(odd) {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(75%, white), color-stop(25%, #2E39BF));
    background: linear-gradient(-360deg, white 75%, #2E39BF 25%);
  }
}
main .portfolio .project:nth-of-type(odd) .wrapper .left {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding-right: 0;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, white), color-stop(50%, #2E39BF));
  background: linear-gradient(-90deg, white 50%, #2E39BF 50%);
}
@media (max-width: 710px) {
  main .portfolio .project:nth-of-type(odd) .wrapper .left {
    background: none;
  }
}
main .portfolio .project:nth-of-type(odd) .wrapper .right {
  background-color: white;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}
@media (max-width: 710px) {
  main .portfolio .project:nth-of-type(odd) .wrapper .right {
    padding-top: 0;
  }
}
main .education {
  padding: 8rem 0;
  background-color: #2E39BF;
}
@media (max-width: 710px) {
  main .education {
    padding: 5rem 0;
  }
}
main .education .wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .education .wrapper .title {
  font-size: 2.5rem;
  margin-bottom: 0.4em;
}
main .education .wrapper .subtitle {
  color: #66ECAF;
}
main .education .wrapper .subtitle::after {
  border-color: #F2F2F2;
}
main .education .wrapper .title, main .education .wrapper p {
  color: #66ECAF;
}
main .education .wrapper p, main .education .wrapper li {
  color: #F2F2F2;
  margin-bottom: 0;
}
main .experience {
  background-color: #F2F2F2;
}
main .experience .wrapper .subtitle::after {
  border-color: #66ECAF;
}
main .experience .wrapper .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8rem;
}
@media (max-width: 820px) {
  main .experience .wrapper .columns {
    gap: 5rem;
  }
}
@media (max-width: 710px) {
  main .experience .wrapper .columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}
main .experience .wrapper .columns div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
}
main .experience .wrapper .columns div h4 {
  color: #2E39BF;
  margin-top: 5px;
  margin-bottom: 15px;
}
main .experience .wrapper .columns div h4 + p {
  margin-top: 20px;
}
main .experience .wrapper .subtitle {
  color: #2E39BF;
}
main .experience .wrapper .title, main .experience .wrapper p, main .experience .wrapper li {
  color: black;
}
main .experience .wrapper ul {
  margin-top: 10px;
}
main .experience .wrapper ul li:not(:last-child) {
  margin-bottom: 10px;
}
main .experience .wrapper ul li::before {
  content: "→";
  margin-right: 10px;
  vertical-align: 10%;
}
main .contact {
  padding: 8rem 0 0;
  background-color: #F2F2F2;
}
@media (max-width: 710px) {
  main .contact {
    padding: 5rem 0;
  }
}
main .contact .wrapper .subtitle {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}
@media (max-width: 710px) {
  main .contact .wrapper .subtitle {
    text-align: unset;
  }
}
main .contact .wrapper .subtitle::after {
  margin: 0 auto;
}
@media (max-width: 710px) {
  main .contact .wrapper .subtitle::after {
    margin: 0;
  }
}
main .contact .wrapper h3 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 1em 0 5px;
  text-align: center;
}
@media (max-width: 710px) {
  main .contact .wrapper h3 {
    text-align: unset;
  }
}
@media (max-width: 710px) {
  main .contact .wrapper .btn {
    margin: 0;
  }
}
main .contact .wrapper .left {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (max-width: 710px) {
  main .contact .wrapper .left {
    padding: 2rem 0 5rem 0;
  }
}
main .contact .wrapper .left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 18px;
}
main .contact .wrapper .left ul svg {
  width: 25px;
  margin-right: 15px;
  fill: #66ECAF;
}
main .contact .wrapper .left ul svg:hover, main .contact .wrapper .left ul svg:focus {
  fill: #2E39BF;
}
main .contact .wrapper .right {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}
@media (max-width: 710px) {
  main .contact .wrapper .right {
    padding: 0;
  }
}
main .contact .wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .contact .wrapper form input,
main .contact .wrapper form textarea {
  font-family: forma-djr-micro, sans-serif;
  padding: 16px;
  margin-bottom: 10px;
  background-color: #66ECAF;
  border: 1px solid #2E39BF;
  color: #2E39BF;
}
main .contact .wrapper form input::-webkit-input-placeholder, main .contact .wrapper form textarea::-webkit-input-placeholder {
  color: #2E39BF;
  opacity: 0.3;
}
main .contact .wrapper form input::-moz-placeholder, main .contact .wrapper form textarea::-moz-placeholder {
  color: #2E39BF;
  opacity: 0.3;
}
main .contact .wrapper form input:-ms-input-placeholder, main .contact .wrapper form textarea:-ms-input-placeholder {
  color: #2E39BF;
  opacity: 0.3;
}
main .contact .wrapper form input::-ms-input-placeholder, main .contact .wrapper form textarea::-ms-input-placeholder {
  color: #2E39BF;
  opacity: 0.3;
}
main .contact .wrapper form input::placeholder,
main .contact .wrapper form textarea::placeholder {
  color: #2E39BF;
  opacity: 0.3;
}
main .contact .wrapper form input:focus,
main .contact .wrapper form textarea:focus {
  background-color: #2E39BF;
  color: #F2F2F2;
}
main .contact .wrapper form textarea {
  height: 200px;
}
main .contact .wrapper form button {
  font-family: forma-djr-micro, sans-serif;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0;
}

footer {
  color: white;
  background-color: #2E39BF;
  font-size: 1.4rem;
  line-height: 1em;
  text-align: center;
  padding: 20px 20px 17px;
}